<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="user-registration-form">
    <form class="form-signin">
        <div class="inputs">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
            <label class="sr-only" for="input-name"><span class="hidden">Name</span></label>
            <input id="input-name" type="email" class="form-control" placeholder="Email address" required>
            <label class="sr-only" for="inputPassword"><span class="hidden">Password</span></label>
            <input id="inputPassword" type="password" class="form-control" placeholder="Password" required>
            <label class="sr-only" for="confirmPassword"><span class="hidden">Confirmation</span></label>
            <input id="confirmPassword" type="password" class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Create my account</button>
    </form>
</div>
</body>
</html>